@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0px;
    background-color: bisque;
    font-family: "Lora", serif;
    font-weight: 600;
}

.index_subtitle {
    font-family: "Lora", serif;
    font-weight: 600;
}

.index_subtitle img{
    width: 30%;
    height: 30%;
}

.cards_bg {
    background-color: coral;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: azure;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 0;
}

.card img{
    margin-top: 1.5rem;
    width: 30%;
    height: 30%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.action-btn {
    background: #85d1db;
    border-radius: 999px;
    box-shadow: #85d1db 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}